<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3 align="center"><%= form.label :title %></h3>
    <p align="center"><%= form.text_field :title %></p>
    
  </div>

  <div class="field">
    <h3 align="center"><%= form.label :description %></h3>
    <p align="center"><%= form.text_area :description %></p>
    
  </div>


  <div class="actions">
    <p align="center"><%= form.submit %></p>
    
  </div>

<% end %>
