<p id="notice"><%= notice %></p>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Jumbotron Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="jumbotron.css" rel="stylesheet">
</head>

<body>

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Logan Weberg</h1>
        <p>This is my portfolio.</p>
        <p><a class="btn btn-primary btn-lg" <%= link_to "New Project", new_project_path %></a></p>
      </div>
    </div>

    
    <h1 align="center">Projects</h1>

<tbody>
  <% @projects.each do |project| %>
    <tr>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><%= project.title %></h2>
          <p>
            <span class="d-inline-block text-truncate" style="max-width: 300px;">
              <%= project.description %>
            </span>
          </p>
          
          <p>
            <a class="btn btn-primary btn-sm" <%= link_to 'Show', project %></a>
            
            
            <a class="btn btn-primary btn-sm" <%= link_to 'Edit', edit_project_path(project) %></a>
            
            <a class="btn btn-danger btn-sm" <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></a>
          </p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

      
    </tr>
  <% end %>
</tbody>
